<header role="banner">
    <a href="/" id="banner" title="JMD Travelog">
        <h1>{{ site.title }}</h1>
    </a>

    <div align="center">
        <a>•</a>
        <a href="{{site.posts.first.url}}" class="nav-bar">Latest Post</a>
        <a>•</a>
        <a href="\misc-pages\about" class="nav-bar">About</a>
        <a>•</a>
        <a href="\misc-pages\contact" class="nav-bar">Contact</a>
        <a>•</a>
        <a href="\misc-pages\website" class="nav-bar">Website</a>
        <a>•</a>
    </div>
    <div class="nav-bar-seperator">

    </div>
</header>
